<h1>Service</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Name</th>                <td>{{ entity.name }}</td>        </tr>
        <tr>
            <th>Type</th>                <td>{{ entity.type }}</td>        </tr>
        <tr>
            <th>Isprimary</th>                <td>{{ entity.isPrimary }}</td>        </tr>
        <tr>
            <th>Address</th>                <td>{{ entity.address }}</td>        </tr>
        <tr>
            <th>Tcpport</th>                <td>{{ entity.tcpPort }}</td>        </tr>
        <tr>
            <th>Udpport</th>                <td>{{ entity.udpPort }}</td>        </tr>
        <tr>
            <th>Pingport</th>                <td>{{ entity.pingPort }}</td>        </tr>
        <tr>
            <th>Version</th>                <td>{{ entity.version }}</td>        </tr>
        <tr>
            <th>Status</th>                <td>{{ entity.status }}</td>        </tr>
        <tr>
            <th>Lastpulse</th>                <td>{{ entity.lastPulse }}</td>        </tr>
        <tr>
            <th>Createdat</th>                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Updatedat</th>                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('service') }}">
            Back to the list
        </a>
    </li>
</ul>
