{% extends 'AnhGalaxyManagerBundle::layout.html.twig' %}

{% block content %}
<h1>Galaxy</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Name</th>                <td>{{ entity.name }}</td>        </tr>
        <tr>
            <th>Version</th>                <td>{{ entity.version }}</td>        </tr>
        <tr>
            <th>Status</th>                <td>{{ entity.status }}</td>        </tr>
        <tr>
            <th>Createdat</th>                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Updatedat</th>                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('galaxy') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('galaxy_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('galaxy_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
